[Unit]
Description=Daemon for interacting with the PDUs and UPSes via SNMP.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3.6 -u /usr/bin/powerd /etc/powerd/%i.json
ExecStartPost=/usr/bin/env python3.6 -u /usr/bin/obslog info %i_powerd Started by systemd
ExecStopPost=/usr/bin/env python3.6 -u /usr/bin/obslog info %i_powerd Stopped by systemd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
